# ignore scratch .py file
leetCodeTest.py

# ignore progress tracking document
LeetCode DSA Study Records.xlsx
~$LeetCode DSA Study Records.xlsx

# ignore temporary files
/__pycache__/* 
.vscode*
..ipynb_checkpoints*


